{% extends 'manage_app/base.html' %}
{% block content %}
<form action="" method="POST">
    <table class="table">
        <tr>
            <th>面談日付</th>
            <td>{{day.date_of_interview}}</td>
        </tr>
        <tr>
            <th>会社名</th>
            <td>{{day.name_of_company}}</td>
        </tr>
        <tr>
            <th>適性検査種類</th>
            <td>{{day.what_kinda_spi}}</td>
        </tr>
        <tr>
            <th>適性検査日付</th>
            <td>{{day.date_of_spi}}</td>
        </tr>
        <tr>
            <th>履歴書提出日時</th>
            <td>{{day.resume_of_spi}}</td>
        </tr>
        <tr>
            <th>詳細</th>
            <td>{{day.detail_text}}</td>
        </tr>
    </table>
<p>こちらのデータを削除します</p>
<button type="submit" class="btn btn-primary">送信</button>
{% csrf_token %}
</form>
{% endblock %}
