{% extends 'manage_app/base.html' %}
{% block content %}
<h1>就活日程管理アプリケーションです</h1>

<div>
    <a href="?sort_by=date_of_interview">面談日でソート</a>
    <a href="?sort_by=date_of_spi">適性検査期限でソート</a>
    <a href="?sort_by=resume_of_spi">履歴書提出期限でソート</a>
    <a href="?filter_recent=true">直近1週間の予定のみ表示</a>
</div>

<table class="table">
<thead>
    <tr>
        <th><a href="?sort_by=date_of_interview">面談日付</a></th>
        <th><a href="?sort_by=name_of_company">会社名</a></th>
        <th>適性検査種類</th>
        <th>適性検査締切</th>
        <th>履歴書提出締切</th>
        <th>詳細</th>
        <th>#</th>
        <th>#</th>
    </tr>
</thead>
<tbody>
    {% for day in day_list %}
    <tr>
        <td>{{day.date_of_interview}}</td>
        <td>{{day.name_of_company}}</td>
        <td>{{day.what_kinda_spi}}</td>
        <td>{{day.date_of_spi}}</td>
        <td>{{day.resume_of_spi}}</td>
        <td><a href="{% url 'manage_app:detail' day.pk %}">詳細</a></td>
        <td><a href="{% url 'manage_app:update' day.pk %}">更新</a></td>
        <td><a href="{% url 'manage_app:delete' day.pk %}">削除</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
