{% extends 'manage_app/base.html' %}
{% block content %}
<h1>就活日程管理アプリケーションです</h1>

{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="前のページ">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% for page_num in page_obj.paginator.page_range %}
      {% if page_num == page_obj.number %}
        <li class="page-item active"><a class="page-link">{{ page_num }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="次のページ">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<form method="get">
    <div class="row">
        <div class="col-md-3">
            <label for="start_date">開始日</label>
            <input type="date" name="start_date" class="form-control" value="{{ request.GET.start_date|default:'2024-01-01' }}">
        </div>
        <div class="col-md-3">
            <label for="end_date">終了日</label>
            <input type="date" name="end_date" class="form-control" value="{{ request.GET.end_date|default:'2026-12-31' }}">
        </div>
        <div class="col-md-3">
            <label for="filter_by">ソート基準</label>
            <select name="filter_by" class="form-control">
                <option value="date_of_interview" {% if request.GET.filter_by == "date_of_interview" %}selected{% endif %}>面談日付</option>
                <option value="date_of_spi" {% if request.GET.filter_by == "date_of_spi" %}selected{% endif %}>適性検査締切</option>
                <option value="resume_of_spi" {% if request.GET.filter_by == "resume_of_spi" %}selected{% endif %}>履歴書提出締切</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="company_name">会社名で検索</label>
            <input type="text" name="company_name" class="form-control" value="{{ request.GET.company_name }}">
        </div>
        <div class="col-md-3 align-self-end">
            <button type="submit" class="btn btn-primary">検索</button>
        </div>
    </div>
</form>

<table class="table">
<thead>
    <tr>
        <th>面談日付</th>
        <th>会社名</th>
        <th>適性検査種類</th>
        <th>適性検査締切</th>
        <th>履歴書提出締切</th>
        <th>詳細</th>
        <th>更新</th>
        <th>削除</th>
    </tr>
</thead>
<tbody>
    {% for day in day_list %}
    <tr>
        <td>{{day.date_of_interview}}</td>
        <td>{{day.name_of_company}}</td>
        <td>{{day.what_kinda_spi}}</td>
        <td>{{day.date_of_spi}}</td>
        <td>{{day.resume_of_spi}}</td>
        <td><a href="{% url 'manage_app:detail' day.pk %}">詳細</a></td>
        <td><a href="{% url 'manage_app:update' day.pk %}">更新</a></td>
        <td><a href="{% url 'manage_app:delete' day.pk %}">削除</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 最初</a>
            <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
        {% endif %}

        <span class="current">
            ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">次へ</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}
